.LoginContainer{
    /* margin-top: 5%; */
    padding: 5rem;
    width: fit-content;
  box-shadow: 2px 4px 10px #333;
  border-radius: 8px;
  padding: 2rem !important;

}

.LoginContainer form{
    margin-top: 0.5rem;
    min-width: 300px;
}

.register-btn{
    margin-bottom: 1rem;
}

.LoginContainer form div{
    margin-top: 1.5rem;
}

.LoginContainer .btn-primary{
    margin-top: 1.5rem;
    background-color: #0d6efd;
    color: white;
    padding: 1rem;
}

.LoginContainer button{
    padding: 1rem;
}

.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box h2{
    width: fit-content;
}



/*  */

.contact-container{
    display: flex;
    justify-content: space-evenly;
}
.address-box h1{
    margin-bottom: 2rem;
}
.address-box div{
    margin-bottom: 1rem;
}




/*  */

.course-box{
    width: 18rem;
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 10px 10px 5px #cfdbeb;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #111;
    cursor: pointer;
    border-radius: 2px;
}
.course-box:hover{
    background-color: orangered;
    color: white;
}

.features-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.features-container li{
    font-size: 18px;
    padding: 0.5rem;
}

.features-container li::marker {
    color: #4caf50;
    font-size: 1.8em;
  }

  .objective-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .objective-container img{
    width: 50%;
  }
  .objective-container .img-box2{
    /* width: fit-content; */
  }
  .objective-container p{
    margin-top: 1rem;
    width: 80%;
 
}

.switchbtn{
    background: #eeeeee;
}

.carousel-box img{
    margin-left: auto;
}
.aboutus-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus-box img{
    width: 400px;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 10%;
}
.aboutus-box p{
    width: 80%;
}

@media (min-width: 1000px) {
    /* Styles for devices with a width of 1000px or more */
    .login-box {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }
  
    .login-box h2 {
      font-size: 2rem;
    }
  
    .login-box .form-group {
      margin-bottom: 20px;
    }
  
    .login-box .btn {
      width: auto;
      padding: 15px;
    }
  
    .login-box .text-center {
      text-align: center;
    }
  }
  