html{
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container{
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr 5rem;
  height: 100%;
  grid-template-columns: 1fr;

}
header{
  position: sticky;
  top: 0;
  z-index: 1;
}

main{
  padding: 2rem;
}

footer{
  background-color: #0d6efd;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  /* position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem; */

}
.message-box iframe{
    height: auto;
    min-height: 700px;
}
.team-profile {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.5px;
}

/* @media only screen and (max-width: 425.98px) {
  .course-box{
    width: 8rem !important;
    font-size: 12px !important;
  }
} */

@media only screen and (max-width: 779.98px) {
  .objective-container{
    flex-direction: column;
    text-align: center;
  }
  .objective-container p{
    width: 100% !important;
  }
  .aboutus-box{
    flex-direction: column;
    text-align: center;
  }
  .aboutus-box p{
    width: 100% !important;
  }
  .course-box{
    width: 8rem !important;
    font-size: 12px;
  }
  .features-container li{
    font-size: 16px !important;
  }
  .carousel-box{
    text-align: center;
  }
  .certificate-box{
    padding: 1rem !important;
    margin: 0 !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  footer div{
    text-align: center;
    font-size: 12px !important;
  }
  .LoginContainer{
    padding: 2rem !important;
  }
  .LoginContainer .btn-primary{
    margin-top: 0.5rem !important;
  }
  main{
    padding: 1rem !important;
  }
  .contact-container{
    flex-direction: column;
  }
  .contact-container .address-box{
    margin-top: 2rem !important;
  }
  .aboutus-box img{
    width: 100% !important;
  }
  .objective-container img{
    width: 100% !important;
  }
  .LoginContainer form{
    min-width: auto !important;
  }
}